@import "minimal-light-no-dark-mode";

/* --- Dark Mode Enhancements --- */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #20212b;
    color: #dadbdf;
  }

  .autocolor {
    color: #dadbdf;
  }

  .lightonly {
    visibility: hidden;
  }

  .darkonly {
    visibility: visible;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(62, 183, 240);
  }

  strong {
    color: #eeeff0;
  }

  th,
  dt {
    color: rgb(62, 183, 240);
  }

  a {
    color: rgb(62, 183, 240);
  }

  a:hover {
    color: #8cd6ff;
  }

  .social-icons a {
    color: #3eb7f0 !important;
  }

  .social-icons a:hover {
    background-color: #2e303e;
    color: #ffffff !important;
  }

  code,
  pre {
    color: #dadbdf;
  }

  pre {
    background: #171821;
    border-color: #353644;
  }

  hr {
    background: #353644;
  }

  blockquote {
    border-left-color: rgb(36, 150, 203);
  }

  th,
  td {
    border-bottom-color: #353644;
  }
}

@media print, screen and (max-width: 960px) {
  @media (prefers-color-scheme: dark) {
    section {
      border-top-color: #353644;
    }
  }
}
