@use "palette";
@use "minimal-light-no-dark-mode";

/* --- Dark Mode Enhancements --- */
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: palette.$dark-background;
    color: palette.$dark-text;
  }

  .autocolor {
    color: palette.$dark-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th,
  dt,
  a,
  .social-icons a {
    color: palette.$dark-heading;
  }

  strong {
    color: palette.$dark-strong;
  }

  a:hover {
    color: palette.$dark-link-hover;
  }

  .social-icons a:hover {
    background-color: palette.$dark-social-hover;
    color: palette.$white;
  }

  code,
  pre {
    color: palette.$dark-text;
  }

  pre {
    background: palette.$dark-code-background;
    border-color: palette.$dark-border;
  }

  hr {
    background: palette.$dark-border;
  }

  blockquote {
    border-left-color: palette.$dark-publication-accent;
  }

  th,
  td {
    border-bottom-color: palette.$dark-border;
  }
}

@media screen and (max-width: 960px) and (prefers-color-scheme: dark) {
  main {
    border-top-color: palette.$dark-border;
  }
}
